#header{
    font-size: 110%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--secondary);
    border-radius: 5px 5px 0 0;
}
#header .logo{
    grid-column: 1/3;
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}
#header a{
    grid-column: 3/-1;
    text-decoration: none;
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}
a h1{
    font-size: 17px;
    color: white;
    text-transform: capitalize;
}
.logo img{
    width: 100%;
    max-width: 48px;
    max-height: 48px;
    border-radius: 30px;
}

#sub-header{
    font-size: 110%;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    background-color: var(--primary);
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sub-header h2{
    font-size: 18px;
}
