main{
    font-size: 120%;
    margin: 10px;
    padding: 10px;
}
main>h3{
    display: flex;
    flex:1 1 50%;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 19px;
    align-items: center;
}
.card{
    width: 80%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #aaa;
}
.card h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    margin-top: 10px;
}
.card-images img{
    width: 100%;
    outline: none;
}
.card-button{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}
.emergencies{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.card-button>a> button{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #aaa;
    background-color: var(--button);
    margin-bottom: 10px;
}
.card-button>a{
    text-decoration: none;
}
button i{
    margin-right: 10px;
}
.complain-section{
    display: flex;
    flex: 1 1 50%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    padding-right: 0px;
}
.complain-section button{
    background-color: var(--primary);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #aaa;
}
@media screen and (min-width:500px) {
    .card{
        max-width: 300px;
    } 
}